.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
    position: absolute;

    &--p1 {
      left: 0;
      top: -2rem;
    }

    &--p2 {
      right: 0;
      top: 0;
    }
    &--p3 {
      left: 20%;
      top: 11rem;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}
